.bath
  &-block 
    padding-top: 40px
    padding-left: 40px
    &_flex
      display: flex
      justify-content: flex-start
      align-items: center
      margin-bottom: 15px      
    &__image      
      width: 100%
  &__image
    max-width: 120px
    width: 100% 
  &__info
    max-width: 200px
    width: 100%  
    margin-left: 30px
  &__title 
    display: block
    position: relative
    font-size: 16px
    margin-bottom: 27px
    +bold
    &:after
      content: ''
      position: absolute      
      left: 0
      bottom: -13px
      display: block
      width: 42px
      height: 2px
      background-color: $main-color
  &__count
    display: block
    &_bold
      +bold
.restroom
  &-block
    &__image      
      width: 100%
  &__image
    max-width: 120px
    width: 100% 
  &__info
    max-width: 200
    margin-left: 30px
  &__title 
    display: block
    position: relative
    font-size: 16px
    margin-bottom: 27px
    +bold
    &:after
      content: ''
      position: absolute      
      left: 0
      bottom: -13px
      display: block
      width: 42px
      height: 2px
      background-color: $main-color
  &__count
    &_bold
      +bold
.combi
  &-block
    &__image      
      width: 100%
  &__image
    max-width: 120px
    width: 100% 
  &__info
    max-width: 200px
    width: 100%  
    margin-left: 30px
  &__title 
    display: block
    position: relative
    font-size: 16px
    margin-bottom: 27px
    +bold
    &:after
      content: ''
      position: absolute      
      left: 0
      bottom: -13px
      display: block
      width: 42px
      height: 2px
      background-color: $main-color
  &__count
    &_bold
      +bold

  


       


