.navbar
  padding: 8px 0
  &-block 
    display: flex
    justify-content: space-between
    align-items: center
  &__info 
    display: flex
    // align-items: center 
    text-align: right   
  &__contacts    
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-end
    font-size: 13px         
  &__button
    margin-left: 30px
    font-size: 12px
  &__addres
    padding-right: 1px
    padding-top: 2px    
  &__phone
    display: block
    color: $text-color
    font-size: 20px   
    line-height: 20px 
    text-decoration: none
    margin-top: 8px
    letter-spacing: -0.2px
    +bold

@media (max-width: 768px)
  .navbar
    &__contacts
      display: none

@media (min-width: 1200px)
  .navbar
    &__logo
      margin-top: 1px
      margin-left: -1px
    &__button
      letter-spacing: 0.4px
      padding: 18px 29.5px 19px 28.5px
      font-size: 12px
      +bold
    &__phone               
      margin-top: 8px
      +bold      
@media (max-width: 320px)
  .navbar
    &__logo
      width: 30%
      margin-left: 13px
      margin-top: 9px      
    &__button 
      font-size: 10px    
      margin-right: 13px
      padding: 14px 26.7px
      margin-top: 4px
      border-radius: 5px  
      
     







      




    