.navbar
  padding: 8px 0
  &-block 
    display: flex
    justify-content: space-between
    align-items: center

  &__info 
    display: flex
    align-items: center 
    text-align: right   
  &__addres
    display: flex
    flex-direction: column 
    font-size: 13px
    font-weight: 400      
  &__button
    margin-left: 30px
    font-size: 13px
    font-weight: 400
  &__phone
    display: inline-block
    color: $text-color
    font-size: 20px
    font-weight: 400
    text-decoration: none
    margin-top: 9px

@media (max-width: 768px)
  .navbar
    &__contacts
      display: none

@media (min-width: 1200px)
  .navbar
    &__logo
      margin-top: 1px
      margin-left: -1px
    &__button
      font-weight: bold
      padding: 17.5px 28.5px
      font-size: 12.5px
    &__phone
        font-weight: bold
        letter-spacing: 0.2px
        margin-top: 6px
@media (max-width: 320px)
  .navbar
    &__logo
      width: 30%
      margin-left: 13px
      margin-top: 9px      
    &__button 
      font-size: 10px
      font-weight: bold
      margin-right: 13px
      padding: 14px 26.7px
      margin-top: 4px
      border-radius: 5px  
      
     







      




    