.offer
  background: url('../img/offer/offer-png.png') no-repeat
  background-position: center right 
  background-size: contain
  position: relative 
  &:before
    content: ''
    width: 50%
    height: 100%
    position: absolute
    top: 0 
    left: 0
    background-color: $fon-color    
  &-block
    width: 50%
    position: relative
  &__title
    max-width: 360px
    line-height: 35px
    margin-bottom: 18px
    letter-spacing: -0.5px 
  &__subtitle
    max-width: 250px
    margin-bottom: 30px
  &__input    
    margin-bottom: 30px
    width: 240px
    &:first-child
      margin-right: 10px
  &__button
    max-width: 495px
    width: 100%
    min-height: 70px
    margin-bottom: 28px
    letter-spacing: -0.3px
    +bold
  &-info
    display: flex
    justify-content: space-between
    max-width: 495px
    width: 100%
    font-size: 15px    
    line-height: 24px
    &__left
      min-width: 230px
      width: 50%
  &__textoverphone
    display: block 
  &__phone
    text-decoration: none 
    color: $text-color
    +bold


  




    
  




