@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Cyrl Light';
  src: url("../fonts/MuseoSansKyrl/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSansKyrl/MuseoSansCyrl-300"), url("../fonts/MuseoSansKyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansKyrl/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl bold';
  src: url("../fonts/MuseoSansKyrl/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSansKyrl/MuseoSansCyrl-700"), url("../fonts/MuseoSansKyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansKyrl/MuseoSansCyrl-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Cyrl Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 95%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 750px;
    width: 95%;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 550px;
    width: 90%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 14px 30px 18px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 76px 0 78px;
}

.section-title {
  font-size: 24px;
  margin-top: 0;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
  text-align: center;
  max-width: 500px;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 23px 24px 23px;
  font-size: 15px;
  border-radius: 10px;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.invalid {
  border: 1px solid red;
}

label.invalid {
  display: block;
  border: none;
}

/*Импорт стилей шапки*/
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 13px;
}

.navbar__button {
  margin-left: 30px;
  font-size: 12px;
}

.navbar__addres {
  padding-right: 1px;
  padding-top: 2px;
}

.navbar__phone {
  display: block;
  color: #333333;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  margin-top: 8px;
  letter-spacing: -0.2px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
}

@media (min-width: 1200px) {
  .navbar__logo {
    margin-top: 1px;
    margin-left: -1px;
  }
  .navbar__button {
    letter-spacing: 0.4px;
    padding: 18px 29.5px 19px 28.5px;
    font-size: 12px;
    font-family: 'Museo Sans Cyrl bold', sans-serif;
    font-weight: 700;
  }
  .navbar__phone {
    margin-top: 8px;
    font-family: 'Museo Sans Cyrl bold', sans-serif;
    font-weight: 700;
  }
}

@media (max-width: 567px) {
  .navbar {
    padding: 11px 0;
  }
  .navbar__logo {
    width: 31.3%;
    margin-left: 5px;
    margin-top: 6px;
  }
  .navbar__button {
    font-size: 10px;
    margin-right: 6px;
    padding: 14px 26.7px;
    margin-top: 2px;
    border-radius: 5px;
  }
}

/*стили для главного экрана*/
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-image {
  -webkit-animation: boxOpasity 6s;
          animation: boxOpasity 6s;
}

.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 100px;
}

.hero-text__title {
  display: inline-block;
  color: #333333;
  font-size: 39.3px;
  line-height: 55px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-top: 24px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  color: #333333;
  font-size: 19px;
  margin-bottom: 66px;
  letter-spacing: 0.2px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 26px;
}

.hero-list__text {
  max-width: 300px;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 40px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .hero-text__subtitle {
    font-size: 17px;
    margin-bottom: 28px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
}

@media (max-width: 567px) {
  .hero {
    padding: 45px 0;
  }
  .hero-text__title {
    line-height: 28px;
    padding-right: 0;
    margin-bottom: 7px;
    margin-top: 0;
    font-size: 23.5px;
    letter-spacing: -0.4px;
    margin-left: 8px;
  }
  .hero-text__subtitle {
    font-size: 15px;
    margin-bottom: 27px;
    margin-left: 10px;
    line-height: 20px;
  }
  .hero-list__text {
    font-size: 11px;
    width: 85%;
  }
  .hero-list__image {
    margin-right: 16px;
    min-width: 40px;
    margin-left: 7px;
  }
  .hero-image {
    width: 92.8%;
    margin-left: 9px;
  }
}

@media (max-width: 320px) {
  .hero {
    padding: 45px 0;
  }
  .hero-text__title {
    line-height: 28px;
    padding-right: 0;
    margin-bottom: 7px;
    margin-top: 0;
    font-size: 23.5px;
    letter-spacing: -0.4px;
    margin-left: 8px;
  }
  .hero-text__subtitle {
    font-size: 15px;
    margin-bottom: 27px;
    margin-left: 10px;
    line-height: 20px;
  }
  .hero-list__text {
    font-size: 11px;
  }
  .hero-list__image {
    margin-right: 16px;
    min-width: 40px;
    margin-left: 7px;
  }
  .hero-image {
    width: 92.8%;
    margin-left: 9px;
  }
}

/*стили для блока offer*/
.offer {
  background: url("../img/offer/offer-png.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  width: 50%;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 18px;
  letter-spacing: -0.5px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__input:focus {
  border: 1px solid #ffc000;
}

.offer__button {
  max-width: 495px;
  width: 100%;
  min-height: 70px;
  margin-bottom: 28px;
  letter-spacing: -0.3px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.offer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 495px;
  width: 100%;
  font-size: 15px;
  line-height: 24px;
}

.offer-info__left {
  min-width: 230px;
  width: 50%;
}

.offer-info__right {
  padding-right: 10px;
}

.offer__textoverphone {
  display: block;
}

.offer__phone {
  text-decoration: none;
  color: #333333;
  letter-spacing: -0.4px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer-block {
    padding-right: 20px;
  }
  .offer__title {
    line-height: 30px;
  }
  .offer__input {
    width: 100%;
  }
  .offer__input {
    margin-bottom: 15px;
  }
  .offer__button {
    font-size: 14px;
  }
  .offer-info {
    font-size: 11px;
  }
  .offer-info__left {
    width: 50%;
    min-width: 150px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
  }
  .offer__title {
    max-width: 768px;
    width: 100%;
  }
  .offer__subtitle {
    max-width: 768px;
    width: 100%;
  }
  .offer__button {
    max-width: 764px;
    width: 100%;
  }
  .offer-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 15px;
    line-height: 24px;
    max-width: 768px;
    width: 100%;
  }
  .offer-info__left {
    margin-bottom: 18px;
  }
}

@media (max-width: 567px) {
  .offer {
    padding: 55px 0 50px;
  }
  .offer-block {
    padding-left: 4px;
    padding-right: 9px;
  }
  .offer__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 18px;
    letter-spacing: -0.3px;
  }
  .offer__subtitle {
    margin-bottom: 26px;
    font-size: 14px;
  }
  .offer__input {
    margin-bottom: 10px;
  }
  .offer__button {
    padding: 14px 47px 18px;
    margin-bottom: 21px;
  }
  .offer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 40px;
  }
  .offer-info__left {
    width: 100%;
    margin-bottom: 5px;
  }
}

/*стили для слайдера*/
.portfolio {
  background: #f5f5f5 url("../img/portfolio/fon-portfolio.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  font-size: 29px;
  max-width: 786px;
  margin: auto;
  margin-top: 13px;
  margin-bottom: 91px;
  line-height: 45px;
}

.portfolio__arrows {
  max-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-top: 68px;
  margin-bottom: 20px;
}

.slider__image {
  margin: auto;
}

@media (max-width: 768px) {
  .portfolio {
    padding-top: 28px;
    padding-bottom: 40px;
  }
  .portfolio__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 39px;
  }
  .portfolio__arrows {
    margin-top: 48px;
  }
  .slider__image {
    max-width: 85%;
  }
}

/*стили для блока с ценами*/
.price__title {
  text-align: center;
  margin: auto;
  font-size: 30px;
  line-height: 45px;
  max-width: 500px;
  margin-bottom: 38px;
  margin-top: 14px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.price__subtitle {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  margin-bottom: 48px;
}

.price__card {
  margin-bottom: 30px;
}

.price__card-animation {
  visibility: visibility;
  -webkit-animation: boxHeight 3s alternate linear;
          animation: boxHeight 3s alternate linear;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  padding: 36px 0 44px;
}

.card__title {
  margin-left: 10px;
  margin-top: 0;
  font-size: 18px;
}

.card__image {
  position: relative;
}

.card__image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__fon {
  display: block;
}

.card__link {
  margin-top: 6px;
  display: inline-block;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 800px) {
  .card {
    margin-right: 5px;
  }
  .cards {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 567px) {
  .price {
    padding-top: 35px;
  }
  .price__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 9px;
  }
  .price__subtitle {
    font-size: 14px;
    margin-right: 18px;
    margin-bottom: 46px;
  }
  .card__title {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .card__text {
    padding: 28px 0 33px;
  }
}

/*стили для блока отправки*/
.brif {
  background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/2-layers.png");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
  padding: 27px -1px 60px;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.interview {
  padding-right: 71px;
}

.interview__title {
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.interview__subtitle {
  display: block;
  margin-bottom: 95px;
  font-size: 16px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.interview-list__counter {
  display: inline-block;
  margin-right: 25px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
}

.interview-list__text {
  max-width: 379px;
  width: 100%;
}

.form__title {
  min-width: 340px;
  width: 100%;
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.form__subtitle {
  display: block;
  margin-bottom: 49px;
  font-size: 16px;
}

.form__description {
  font-size: 15px;
  display: block;
  text-align: center;
}

@media (max-width: 1200px) {
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-style: 12px;
    max-width: 250px;
    width: 100%;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .brif__form {
    padding-left: 30px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 960px) {
  .brif {
    padding: 40px 0 60px;
    background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/2-layers.png");
    background-position: top center, center bottom;
    background-size: 100% 46%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 70px;
  }
  .form__title {
    display: block;
    text-align: center;
    min-width: 250px;
    width: 100%;
  }
  .interview-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 567px) {
  .brif {
    background-size: 100% 45%, cover;
  }
  .brif__form {
    padding: 0;
  }
  .brif__button {
    font-size: 14px;
  }
  .interview {
    padding-right: 0;
  }
  .interview__title {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .interview__subtitle {
    font-size: 14px;
    margin-right: 100px;
    margin-bottom: 37px;
  }
  .interview-list__counter {
    margin-right: 10px;
  }
  .interview-list__text {
    font-size: 13px;
    max-width: 200px;
    width: 100%;
    font-weight: 600;
  }
  .form__title {
    text-align: center;
    font-size: 17px;
    margin-top: 34px;
  }
  .form__subtitle {
    font-size: 14px;
  }
  .form__description {
    text-align: center;
    font-size: 14px;
  }
}

/*стили для блока materials*/
.materials-title {
  width: 100%;
  background-color: #ffc000;
}

.materials-title__text {
  display: block;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  padding: 87px 0 93px;
}

.materials-posters {
  max-width: 1170px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto 100px;
}

.poster__card {
  height: 410px;
  max-width: 370px;
  width: 30%;
  margin-right: 30px;
}

.poster__card:last-child {
  margin-right: 0;
}

.poster_left {
  background-image: url("../img/materials/mat_1.png");
  background-size: cover;
}

.poster_center {
  background-image: url("../img/materials/mat_2.png");
  background-size: cover;
}

.poster_right {
  background-image: url("../img/materials/mat_3.png");
  background-size: cover;
}

.poster__text {
  font-size: 16px;
  line-height: 23px;
  margin: 23px 40px 0 27px;
}

.poster_bold {
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .materials-title__text {
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .materials-posters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .poster {
    margin-bottom: 30px;
  }
}

@media (max-width: 880px) {
  .materials-title__text {
    font-size: 25px;
    line-height: 40px;
  }
  .materials-posters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .poster__card {
    margin-right: 0;
    width: 100%;
  }
}

@media (max-width: 580px) {
  .materials-title__text {
    max-width: 270px;
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    padding: 71px 0 79px;
  }
  .materials-posters {
    margin: 54px auto 100px;
  }
  .poster__card {
    min-height: 304px;
    height: 100%;
    width: 86%;
  }
  .poster__text {
    font-size: 12px;
    line-height: 16.83px;
    margin: 19px 40px 0 22px;
  }
}

/*стили для блока footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.map {
  width: 50%;
}

.container-footer_right {
  max-width: 600px;
  width: 50%;
}

.contacts {
  padding-top: 70px;
  padding-left: 210px;
  padding-right: 40px;
}

.contacts__title {
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 94px;
  margin-left: 3px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list_center {
  margin-bottom: 34px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 35px;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin-right: 22px;
}

.contacts-list__text {
  line-height: 26px;
  margin-top: -6px;
}

.contacts-list__tel {
  text-decoration: none;
  color: #333333;
}

.contacts-list_bold {
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .contacts {
    padding-top: 50px;
    padding-left: 100px;
  }
}

@media (max-width: 880px) {
  .footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .map {
    height: 500px;
    width: 100%;
  }
  .container-footer_right {
    max-width: 500px;
    width: 100%;
  }
  .contacts {
    padding: 30px 0 0 0;
  }
  .contacts__title {
    margin-bottom: 43px;
    margin-top: 0;
  }
}

@media (max-width: 580px) {
  .contacts {
    padding: 30px 9px 23px 21px;
  }
  .contacts__title {
    font-size: 18px;
    line-height: 1.26;
    margin-top: 31px;
    margin-bottom: 35px;
  }
  .contacts-list__icon {
    margin-right: 11px;
  }
}

/*стили анимаций*/
@-webkit-keyframes boxOpasity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes boxOpasity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes boxHeight {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

@keyframes boxHeight {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

/*стили для блока bath*/
.bath-block {
  padding-top: 40px;
  padding-left: 40px;
}

.bath-block_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.bath-block__image {
  width: 100%;
  max-width: 120px;
}

.bath-block__subtitle {
  font-size: 14px;
  margin-top: 53px;
  margin-bottom: 28px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.bath-block__list {
  list-style: none;
  padding: 0;
  font-size: 14px;
  padding-right: 20px;
}

.bath-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  min-width: 388px;
  width: 100%;
}

.bath-block__point {
  display: block;
  width: 7px;
  height: 7px;
  background-color: #ffd200;
  border-radius: 50%;
  margin-right: 13px;
}

.bath__info {
  max-width: 200px;
  width: 100%;
  margin-left: 30px;
}

.bath__title {
  display: block;
  position: relative;
  font-size: 16px;
  margin-bottom: 27px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.bath__title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -13px;
  display: block;
  width: 42px;
  height: 2px;
  background-color: #ffd200;
}

.bath__count {
  display: block;
}

.bath__count_bold {
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.restroom-block__image {
  width: 100%;
}

.restroom__image {
  max-width: 120px;
  width: 100%;
}

.restroom__info {
  max-width: 200;
  margin-left: 30px;
}

.restroom__title {
  display: block;
  position: relative;
  font-size: 16px;
  margin-bottom: 27px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.restroom__title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -13px;
  display: block;
  width: 42px;
  height: 2px;
  background-color: #ffd200;
}

.restroom__count_bold {
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.combi-block__image {
  width: 100%;
}

.combi__image {
  max-width: 120px;
  width: 100%;
}

.combi__info {
  max-width: 200px;
  width: 100%;
  margin-left: 30px;
}

.combi__title {
  display: block;
  position: relative;
  font-size: 16px;
  margin-bottom: 27px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.combi__title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -13px;
  display: block;
  width: 42px;
  height: 2px;
  background-color: #ffd200;
}

.combi__count_bold {
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .bath-block {
    padding-top: 20px;
    padding-left: 20px;
  }
  .bath-block__subtitle {
    margin-top: 43px;
    margin-bottom: 20px;
  }
  .bath-block__item {
    margin-bottom: 10px;
  }
  .bath__image {
    width: 100%;
    max-width: 100px;
  }
  .bath__info {
    max-width: 175px;
    width: 100%;
    margin-left: 30px;
  }
  .bath__title {
    font-size: 15px;
  }
  .restroom__image {
    width: 100%;
    max-width: 100px;
  }
  .restroom__info {
    max-width: 175px;
    width: 100%;
    margin-left: 30px;
  }
  .restroom__title {
    font-size: 15px;
  }
  .combi__image {
    width: 100%;
    max-width: 100px;
  }
  .combi__info {
    max-width: 175px;
    width: 100%;
    margin-left: 30px;
  }
  .combi__title {
    font-size: 15px;
  }
}

/*стили для блока living*/
.living-block {
  padding-top: 30px;
  padding-left: 40px;
}

.living-block_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.living-block_image {
  width: 100%;
}

.living-block__subtitle {
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 28px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.living-block__list {
  list-style: none;
  padding: 0;
  font-size: 14px;
  padding-right: 20px;
}

.living-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  min-width: 388px;
  width: 100%;
}

.living-block__point {
  display: block;
  width: 7px;
  height: 7px;
  background-color: #ffd200;
  border-radius: 50%;
  margin-right: 13px;
}

.living__image {
  width: 100%;
  max-width: 130px;
}

.living__info {
  max-width: 200px;
  width: 100%;
  margin-left: 30px;
}

.living__title {
  display: block;
  position: relative;
  font-size: 16px;
  margin-bottom: 27px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.living__title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -13px;
  display: block;
  width: 42px;
  height: 2px;
  background-color: #ffd200;
}

.living__count {
  display: block;
}

.living__count_bold {
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.bedroom-block__image {
  width: 100%;
}

.bedroom__image {
  max-width: 130px;
  width: 100%;
}

.bedroom__info {
  max-width: 200;
  margin-left: 30px;
}

.bedroom__title {
  display: block;
  position: relative;
  font-size: 16px;
  margin-bottom: 27px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.bedroom__title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -13px;
  display: block;
  width: 42px;
  height: 2px;
  background-color: #ffd200;
}

.bedroom__count_bold {
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.childroom-block__image {
  width: 100%;
}

.childroom__image {
  max-width: 130px;
  width: 100%;
}

.childroom__info {
  max-width: 200px;
  width: 100%;
  margin-left: 30px;
}

.childroom__title {
  display: block;
  position: relative;
  font-size: 16px;
  margin-bottom: 27px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

.childroom__title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -13px;
  display: block;
  width: 42px;
  height: 2px;
  background-color: #ffd200;
}

.childroom__count_bold {
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .living-block {
    padding-top: 20px;
    padding-left: 20px;
  }
  .living-block__subtitle {
    margin-top: 43px;
    margin-bottom: 20px;
  }
  .living-block__item {
    margin-bottom: 10px;
  }
  .living__image {
    width: 100%;
    max-width: 100px;
  }
  .living__info {
    max-width: 175px;
    width: 100%;
    margin-left: 30px;
  }
  .living__title {
    font-size: 15px;
  }
  .bedroom__image {
    width: 100%;
    max-width: 100px;
  }
  .bedroom__info {
    max-width: 175px;
    width: 100%;
    margin-left: 30px;
  }
  .bedroom__title {
    font-size: 15px;
  }
  .childroom__image {
    width: 100%;
    max-width: 100px;
  }
  .childroom__info {
    max-width: 175px;
    width: 100%;
    margin-left: 30px;
  }
  .childroom__title {
    font-size: 15px;
  }
}

/*стили для блока office*/
.office-block {
  padding: 30px 80px 200px 40px;
}

.office-block_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.office__image {
  max-width: 439px;
  width: 100%;
  margin-bottom: 52px;
}

.office__text {
  display: block;
  font-size: 20px;
  max-width: 470px;
}

@media (max-width: 1200px) {
  .office__text {
    font-size: 15px;
  }
}

/*стили для блока novostroi*/
.novostroi-block {
  padding: 30px 80px 200px 40px;
}

.novostroi-block_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.novostroi__image {
  max-width: 439px;
  width: 100%;
  margin-bottom: 52px;
}

.novostroi__text {
  display: block;
  font-size: 20px;
  max-width: 470px;
}

@media (max-width: 1200px) {
  .novostroi__text {
    font-size: 15px;
  }
}

/*стили для блока kitchen*/
.kitchen-block {
  padding: 30px 80px 200px 40px;
}

.kitchen-block_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kitchen__image {
  max-width: 439px;
  width: 100%;
  margin-bottom: 52px;
}

.kitchen__text {
  display: block;
  font-size: 20px;
  max-width: 470px;
}

@media (max-width: 1200px) {
  .kitchen__text {
    font-size: 15px;
  }
}

/*стили для блока mansard*/
.mansard-block {
  padding: 30px 80px 200px 40px;
}

.mansard-block_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mansard__image {
  max-width: 439px;
  width: 100%;
  margin-bottom: 52px;
}

.mansard__text {
  display: block;
  font-size: 20px;
  max-width: 470px;
}

@media (max-width: 1200px) {
  .mansard__text {
    font-size: 15px;
  }
}

/*стили для модального окна*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_activ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
  max-width: 1170px;
  width: 90%;
  min-height: 200px;
  background-color: #fff;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
}

.modal-column_left {
  background-color: #f7f7f7;
  max-width: 600px;
  width: 100%;
  padding: 40px 0px 40px 40px;
}

.modal-column_right {
  max-width: 570px;
  width: 100%;
  padding: 40px 40px 40px 0px;
}

.modal__title {
  max-width: 300px;
  width: 100%;
  font-size: 21px;
  line-height: 33px;
  margin: 40px auto 52px;
}

.modal__subtitle {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 53px;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__input {
  max-width: 370px;
  width: 100%;
}

.modal__name {
  margin-bottom: 15px;
}

.modal__phone {
  margin-bottom: 30px;
}

.modal__button {
  max-width: 370px;
  width: 100%;
  font-size: 16px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
  padding: 26px 100px 26px 100px;
  margin-bottom: 33px;
}

.modal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.modal-info__textoverphone {
  margin-bottom: 15px;
}

.modal-info__phone {
  text-decoration: none;
  color: #333333;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  font-family: 'Museo Sans Cyrl bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .modal-column_left {
    padding-left: 20px;
    padding-bottom: 40px;
  }
  .modal-column_right {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
  }
  .modal__title {
    font-size: 19px;
    margin-bottom: 25px;
  }
  .modal__subtitle {
    font-size: 15px;
    margin-bottom: 25px;
  }
  .modal__input {
    font-size: 15px;
  }
  .modal__button {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .modal-info__textoverphone {
    font-size: 15px;
  }
  .modal-info__phone {
    font-size: 20px;
  }
}

@media (max-width: 880px) {
  .modal-dialog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .modal-column_left {
    display: none;
  }
  .modal-column_right {
    max-width: 800px;
    width: 100%;
  }
}

@media (max-width: 520px) {
  .modal-column_right {
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
  }
  .modal__title {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  .modal__subtitle {
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 1.2;
  }
  .modal__input {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .modal__button {
    font-size: 14px;
    padding: 17px 10px;
  }
  .modal-info__textoverphone {
    font-size: 14px;
  }
  .modal-info__phone {
    font-size: 19px;
  }
}

/*стили для кнопки прокрутки*/
#button-up {
  display: none;
  left: 20px;
  bottom: 50px;
  margin: 0;
  position: fixed;
  padding: 5px 5px 0 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 4px #999;
          box-shadow: 0 2px 4px #999;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */